/* Importar una fuente de texto "geek" */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1a1a2e;
    color: #e94560;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 550px;
}

header {
    background-color: #16213e;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 150px;
}
section {
    margin: 0px 80px;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-form {
    float: left;
}
#product-list {
    float: right;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0f3460;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: #a11d33;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: #0f3460;
    color: #e94560;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.product-card button {
    background-color: #e94560;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #a11d33;
}

/* Estilos responsivos */
@media screen and (max-width: 800px) {
    
    section {
        margin: 0px 0px;
    }
}
