/*
Existen selectores avanzados como ">" "*" "> foo + bar" "first-child" "nth-child" "last-child" ":not()"
Para hacer cálculo con medidas puedes usar calc e.g. calc(40%-(26px))
*/


h1, h2{
	text-align: center;
	font-size: 34px;
	font-style: bold;
}
p{
	text-align: center;
}
body{
    font-family: 'Montserrat', sans-serif;
}
em strong{
	color: red;
}

header {
	background-color: #BBBBBB;
	display: flex;
	align-items: center;
}
header img{
	display: inline-block;
	vertical-align: middle;
	width: 10%;
}
nav {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50%;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 1.5vw;
	text-decoration: none;
}
nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
main {
	background: linear-gradient(#000000, #BBBBBB);
}
#banner{
	text-align: center;
	height: 20vh;
	overflow: hidden;
}
#banner img{
	position: relative;
	top:-40%;
	width: 100%;
}
#mission{
	font-size: 20px
}
ul{
	display: inline-block;
}

.diferenciales {
    padding: 3em 0;
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:first-child {
    font-weight: bold;
}
.diferenciales img{
	height: 300px;
	object-position: 0 30%;
	width: 100%;
	object-fit: cover;
	transition: 400ms;
	opacity: 0.7;
	box-shadow: 10px 10px 30px 15px #000000;
}
.diferenciales img:hover{
	opacity: 1;
}
.principal {
	padding: 20px;
}

footer {
	text-align: center;
	background: url(imagenes/bg.jpg);
	padding: 40px;
}
.utensilios{
    width: 100px;
    float:left;
    margin: 0 20px 20px 0;
}
.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 1em auto;
}